<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJTFomIUh40sMBlBDfgDFRIBzdpLZzdsI</string>
	<key>GCM_SENDER_ID</key>
	<string>740917405790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brodt.bern</string>
	<key>PROJECT_ID</key>
	<string>projetobern</string>
	<key>STORAGE_BUCKET</key>
	<string>projetobern.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740917405790:ios:62ed4264f54df7d0b5accf</string>
	<key>DATABASE_URL</key>
	<string>https://projetobern-default-rtdb.firebaseio.com</string>
</dict>
</plist>